@import '../../App.scss';

.skills {
  height: 10%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @include mobile {
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    padding: 0;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    justify-content: center;
  }

  img {
    padding: 15px;
    width: 90px;
    height: 90px;
    position: center;

    @include mobile {
      padding: 10px;
      width: 70px;
    }
  }
}
