.about {
  padding: 16px;
  display: flex;
  height: 100vh;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;

  h1 {
    font-weight: bold;
    font-size: 3.8em;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
  }

  .wrapper {
    // background: rgba(0, 0, 0, 0.3);
    // background: rgb(102, 51, 153, 0.2);

    // border: 1px solid rgb(102, 51, 153);
    max-width: 770px;
    padding: 40px 30px;
    margin: 10px 0;
    border-radius: 10px;
    height: auto;
    text-align: justify;

    p {
      font-size: 1.2em;
    }
  }

  .buttons {
    display: flex;
    gap: 50px;

    button {
      padding: 20px;
      border: 1px solid rgb(102, 51, 153);
      border-radius: 10px;
      background-color: transparent;
      color: rgb(102, 51, 153);
      font-weight: 600;
      cursor: pointer;
    }
  }
}
